<!DOCTYPE html>

<html>
<title>Library Catalog</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<body class="w3-black">

<div>
  <!-- Side Bar -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="/search/book" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-book w3-xxlarge"></i>
      <p>BOOK</p>
    </a>
    <a href="/search/magazine" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-book-open w3-xxlarge"></i>
      <p>MAGAZINE</p>
    </a>
    <a href="/search/music" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-music w3-xxlarge"></i>
      <p>MUSIC</p>
    </a>
    <a href="/search/movie" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-compact-disc w3-xxlarge"></i>
      <p>MOVIE</p>
    </a>
    <a href="/activeUsers" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-users w3-xxlarge"></i>
      <p>ACTIVEUSERS</p>
    </a>
    <a href="/manageCatalog" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-bars w3-xxlarge"></i>
      <p>MANAGE CATALOG</p>
    </a>

    <a [routerLink]="" (click)="logout()" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-sign-out-alt w3-xxlarge"></i>
      <p>LOGOUT</p>
    </a>
  </nav>
</div>
<!-- end of side bar -->

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/home" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="/search/book" class="w3-bar-item w3-button" style="width:25% !important">BOOK</a>
    <a href="/search/magazine" class="w3-bar-item w3-button" style="width:25% !important">MAGAZINE</a>
    <a href="/search/music" class="w3-bar-item w3-button" style="width:25% !important">MUSIC</a>
    <a href="/search/movie" class="w3-bar-item w3-button" style="width:25% !important">MOVIE</a>
    <a href="/activeUsers" class="w3-bar-item w3-button" style="width:25% !important">ACTIVEUSERS</a>
    <a href="/manageCatalog" class="w3-bar-item w3-button" style="width:25% !important">MANAGE CATALOG</a>
    <a [routerLink]="" (click)="logout()" class="w3-bar-item w3-button" style="width:25% !important">Logout</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h3 class="w3-jumbo">Manage Library Catalog</h3> <br>
    <h2>
      <form action="">
        <label>To search in all categories, enter the item title</label><br>
        <input type="text" size="30" name="keywordSearch" style="line-height: 50px; padding-bottom: 6px;"
               placeholder="Enter item title" #searchTitle searchTitle.value=''>
        <button class="w3-bar-item w3-button" (click)="searchAllTitle(searchTitle.value)"><i class="fa fa-search"></i>
        </button>
      </form>
    </h2>
    <br>
    <h5>Reset filter</h5>
    <button class="w3-bar-item w3-button w3-xlarge" (click)="getAllCatalog()"><i class="fa fa-refresh"></i></button>
    <hr style="width:100%" class="w3-opacity">
    <h3 class="w3-xxlarge">Catalog Items</h3>
    <hr style="width:100%" class="w3-opacity">
  </header>


  <h2><i>Books</i></h2>
  <hr>
  <div>
    <form ngNativeValidate #bookForm="ngForm">
      <table width="60%">
        <tr>
          <th>
            <label class="formLabel">Title</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_title mng_book_title.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Author</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_author mng_book_author.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Publisher</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_publisher mng_book_publisher.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Publish Date</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_pubDate mng_book_pubDate.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Language</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_language mng_book_language.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Format</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_format mng_book_format.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">ISBN</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_isbn10 mng_book_isbn10.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">ISBN13</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_isbn13 mng_book_isbn13.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Pages</label>
            <div>
              <textarea rows="1" cols="47" #mng_book_pages mng_book_pages.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <td align="right">
            <button class="w3-bar-item w3-button w3-grey w3-round w3-margin-top"
                    (click)="editBook(mng_book_title.value, mng_book_author.value, mng_book_publisher.value, mng_book_pubDate.value, mng_book_language.value, mng_book_format.value, mng_book_isbn10.value, mng_book_isbn13.value, mng_book_pages.value, bookForm)">
              <i class="fa fa-plus"></i><b> Edit Book</b>
            </button>


            <button class="w3-bar-item w3-button w3-grey w3-round w3-margin-top"
                    (click)="addBook(mng_book_title.value, mng_book_author.value, mng_book_publisher.value, mng_book_pubDate.value, mng_book_language.value, mng_book_format.value, mng_book_isbn10.value, mng_book_isbn13.value, mng_book_pages.value, bookForm)">
              <i class="fa fa-plus"></i><b> Add Book</b>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <br>
  <table mat-table #bookSort="matSort" [dataSource]="matBookList" matSort class="mat-elevation-z8" width="100%">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="bookSelection.hasValue() && isAllSelected()"
                      [indeterminate]="bookSelection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation(); rowSelected(row)"
                      (change)="$event ? bookSelection.toggle(row) : null"
                      [checked]="bookSelection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
      <td mat-cell *matCellDef="let element"> {{element.author}}</td>
    </ng-container>

    <ng-container matColumnDef="pages">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pages</th>
      <td mat-cell *matCellDef="let element"> {{element.pages}}</td>
    </ng-container>

    <ng-container matColumnDef="format">
      <th mat-header-cell *matHeaderCellDef> Format</th>
      <td mat-cell *matCellDef="let element"> {{element.format}}</td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher</th>
      <td mat-cell *matCellDef="let element"> {{element.publisher}}</td>
    </ng-container>

    <ng-container matColumnDef="isbn10">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN-10</th>
      <td mat-cell *matCellDef="let element"> {{element.isbn10}}</td>
    </ng-container>

    <ng-container matColumnDef="isbn13">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN-13</th>
      <td mat-cell *matCellDef="let element"> {{element.isbn13}}</td>
    </ng-container>

    <ng-container matColumnDef="pubDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish Date</th>
      <td mat-cell *matCellDef="let element"> {{element.pubDate}}</td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Language</th>
      <td mat-cell *matCellDef="let element"> {{element.language}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayBookColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayBookColumns;"
        (click)="bookSelection.toggle(row)">
    </tr>
  </table>
  <br>


  <h2><i>Movies</i></h2>
  <hr>
  <div>
    <form ngNativeValidate #movieForm="ngForm">
      <table width="65%">
        <tr>
          <th>
            <label class="formLabel">Title</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_title mng_movie_title.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Director</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_director mng_movie_director.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Release Date</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_releaseDate mng_movie_releaseDate.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Language</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_language mng_movie_language.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Subtitle Language</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_subtitles mng_movie_subtitles.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Dubbed Language</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_dubbed mng_movie_dubbed.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <label class="formLabel">Actors</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_actors mng_movie_actors.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Producers</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_producers mng_movie_producers.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <label class="formLabel">Runtime</label>
            <div>
              <textarea rows="1" cols="47" #mng_movie_runtime mng_movie_runtime.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <td align="right">
            <button class="w3-bar-item w3-button w3-grey w3-round"
                    (click)="addMovie(mng_movie_title.value, mng_movie_director.value, mng_movie_releaseDate.value, mng_movie_language.value, mng_movie_subtitles.value, mng_movie_dubbed.value, mng_movie_actors.value, mng_movie_producers.value, mng_movie_runtime.value, movieForm)">
              <i class="fa fa-plus"></i><b> Add Movie</b>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br>

  <table mat-table #movieSort="matSort" [dataSource]="matMovieList" matSort class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Language</th>
      <td mat-cell *matCellDef="let element"> {{element.language}}</td>
    </ng-container>

    <ng-container matColumnDef="producers">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producers</th>
      <td mat-cell *matCellDef="let element"> {{element.producers}}</td>
    </ng-container>

    <ng-container matColumnDef="actors">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actors</th>
      <td mat-cell *matCellDef="let element"> {{element.actors}}</td>
    </ng-container>

    <ng-container matColumnDef="dubbed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Dubbed</th>
      <td mat-cell *matCellDef="let element"> {{element.dubbed}}</td>
    </ng-container>

    <ng-container matColumnDef="subtitles">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subtitles</th>
      <td mat-cell *matCellDef="let element"> {{element.subtitles}}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date</th>
      <td mat-cell *matCellDef="let element"> {{element.releaseDate}}</td>
    </ng-container>

    <ng-container matColumnDef="runTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Run Time</th>
      <td mat-cell *matCellDef="let element"> {{element.runTime}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayMovieColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayMovieColumns;"></tr>
  </table>
  <br>

  <h2><i>Magazine</i></h2>
  <hr>
  <div>
    <form ngNativeValidate #magazineForm="ngForm">
      <table width="60%">
        <tr>
          <th>
            <label class="formLabel">Title</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_title mng_magazine_title.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Language</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_language mng_magazine_language.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Publisher</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_publisher mng_magazine_publisher.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Publish Date</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_pubDate mng_magazine_pubDate.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">ISBN</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_isbn10 mng_magazine_isbn10.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">ISBN13</label>
            <div>
              <textarea rows="1" cols="47" #mng_magazine_isbn13 mng_magazine_isbn13.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>
        <tr>
          <td></td>
          <td align="right">
            <button class="w3-bar-item w3-button w3-grey w3-round"
                    (click)="addMagazine(mng_magazine_title.value, mng_magazine_publisher.value, mng_magazine_pubDate.value, mng_magazine_language.value, mng_magazine_isbn10.value, mng_magazine_isbn13.value, magazineForm)">
              <i class="fa fa-plus"></i><b> Add Magazine</b>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br>

  <table mat-table #magazineSort="matSort" [dataSource]="matMagazineList" matSort class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="publisher">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publisher</th>
      <td mat-cell *matCellDef="let element"> {{element.publisher}}</td>
    </ng-container>

    <ng-container matColumnDef="pubDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Publish Date</th>
      <td mat-cell *matCellDef="let element"> {{element.pubDate}}</td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Language</th>
      <td mat-cell *matCellDef="let element"> {{element.language}}</td>
    </ng-container>

    <ng-container matColumnDef="isbn10">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN-10</th>
      <td mat-cell *matCellDef="let element"> {{element.isbn10}}</td>
    </ng-container>

    <ng-container matColumnDef="isbn13">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN-13</th>
      <td mat-cell *matCellDef="let element"> {{element.isbn13}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayMagazineColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayMagazineColumns;"></tr>
  </table>
  <br>

  <h2><i>Music</i></h2>
  <hr>
  <div>
    <form ngNativeValidate #musicForm="ngForm">
      <table width="60%">
        <tr>
          <th>
            <label class="formLabel">Title</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_title mng_music_title.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Artist</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_artist mng_music_artist.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Release Date</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_releaseDate mng_music_releaseDate.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">Type</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_type mng_music_type.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <label class="formLabel">Label</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_label mng_music_label.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
          <th>
            <label class="formLabel">ASIN</label>
            <div>
              <textarea rows="1" cols="47" #mng_music_asin mng_music_asin.value="" name="clear" ngModel required></textarea>
            </div>
          </th>
        </tr>
        <tr>
          <td></td>
          <td align="right">
            <button class="w3-bar-item w3-button w3-grey w3-round"
                    (click)="addMusic(mng_music_title.value, mng_music_artist.value, mng_music_type.value, mng_music_releaseDate.value, mng_music_label.value, mng_music_asin.value, musicForm)">
              <i class="fa fa-plus"></i><b> Add Music</b>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <br>

  <table mat-table #musicSort="matSort" [dataSource]="matMusicList" matSort class="mat-elevation-z8" width="100%">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
      <td mat-cell *matCellDef="let element"> {{element.title}}</td>
    </ng-container>

    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist</th>
      <td mat-cell *matCellDef="let element"> {{element.artist}}</td>
    </ng-container>

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Label</th>
      <td mat-cell *matCellDef="let element"> {{element.label}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="asin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ASIN</th>
      <td mat-cell *matCellDef="let element"> {{element.asin}}</td>
    </ng-container>

    <ng-container matColumnDef="releaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date</th>
      <td mat-cell *matCellDef="let element"> {{element.releaseDate}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayMusicColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayMusicColumns;"></tr>
  </table>

  <hr style="width:100%" class="w3-opacity">
  <button class="w3-bar-item w3-button w3-grey w3-round"
          (click)="saveAll()">
    <b>Save Changes </b><i class="fa fa-check-circle"></i>
  </button>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <p class="w3-medium">Created by SOEN343 team#10</p>
    <!-- End footer -->
  </footer>

  <!-- END PAGE CONTENT -->
</div>
</body>
</html>
