<!DOCTYPE html>

<html>
<title>Library Catalog</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<body class="w3-black">

  <div>
    <!-- Side Bar -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="/search/book" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-book w3-xxlarge"></i>
        <p>BOOK</p>
      </a>
      <a href="/search/magazine" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-book-open w3-xxlarge"></i>
        <p>MAGAZINE</p>
      </a>
      <a href="/search/music" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-music w3-xxlarge"></i>
        <p>MUSIC</p>
      </a>
      <a href="/search/movie" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-compact-disc w3-xxlarge"></i>
        <p>MOVIE</p>
      </a>
      <a href="/activeUsers" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-users w3-xxlarge"></i>
        <p>ACTIVEUSERS</p>
      </a>

      <a [routerLink]="" (click)="logout()" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-sign-out-alt w3-xxlarge"></i>
        <p>LOGOUT</p>
      </a>
    </nav>
  </div>
  <!-- end of side bar -->

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="/home" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
      <a href="/search/book" class="w3-bar-item w3-button" style="width:25% !important">BOOK</a>
      <a href="/search/magazine" class="w3-bar-item w3-button" style="width:25% !important">MAGAZINE</a>
      <a href="/search/music" class="w3-bar-item w3-button" style="width:25% !important">MUSIC</a>
      <a href="/search/movie" class="w3-bar-item w3-button" style="width:25% !important">MOVIE</a>
      <a href="/activeUsers" class="w3-bar-item w3-button" style="width:25% !important">ACTIVEUSERS</a>
      <a [routerLink]="" (click)="logout()" class="w3-bar-item w3-button" style="width:25% !important">Logout</a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h3 class="w3-jumbo">Welcome to Library Catalog</h3> <br>
      <h2>What would you like to search for today?</h2><br><br>
      <h2>
        <form action="">
          <label>To search in all categories, enter the item title</label><br>
          <input type="text" size="30" name="keywordSearch" style="line-height: 50px; padding-bottom: 6px;" placeholder="Enter item title" #searchTitle searchTitle.value=''>
          <button class="w3-bar-item w3-button" (click)="searchAllTitle(searchTitle.value)"><i class="fa fa-search"></i></button>
        </form>
      </h2><br><br>
      <h3>To search in a specific category, please click on the desired <br>item icon on the left to perform a filter search</h3>
      <hr style="width:100%" class="w3-opacity">
    </header>
    <h3>Here are the currently items we have in our library</h3>


    <table mat-table [dataSource]="matBookList" matSort class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="pages">
        <th mat-header-cell *matHeaderCellDef> Pages </th>
        <td mat-cell *matCellDef="let element"> {{element.pages}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef> Format </th>
        <td mat-cell *matCellDef="let element"> {{element.format}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Publisher </th>
        <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="isbn10">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ISBN-10 </th>
        <td mat-cell *matCellDef="let element"> {{element.isbn10}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="isbn13">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ISBN-13 </th>
        <td mat-cell *matCellDef="let element"> {{element.isbn13}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="pubDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Publish Date </th>
        <td mat-cell *matCellDef="let element"> {{element.pubDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="language">
        <th mat-header-cell *matHeaderCellDef> Language </th>
        <td mat-cell *matCellDef="let element"> {{element.language}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayBookColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayBookColumns;"></tr>
    </table>

    <br>
    <table>
      <tr><h4><i>Books</i></h4><hr></tr>
      <td *ngFor="let book of bookList">
        {{book.title}}<br/>
        {{book.author}}<br/>
        {{book.pages}}<br/>
        {{book.format}}<br/>
        {{book.publisher}}<br/>
        {{book.isbn10}}<br/>
        {{book.isbn13}}<br/>
        {{book.pubDate}}<br/>
        {{book.language}}<br/>
      </td>
    </table>
    <br>
    <table>
      <tr><h4><i>Movies</i></h4><hr></tr>
      <td *ngFor="let movie of movieList">
        {{movie.title}}<br/>
        {{movie.language}}<br/>
        <span *ngFor="let prod of movie.producers">
          {{prod}}<br/>
        </span>
        <span *ngFor="let actor of movie.actors">
          {{actor}}<br/>
        </span>
        <span *ngFor="let dub of movie.dubbed">
          {{dub}}<br/>
        </span>
        {{movie.subtitles}}<br/>
        {{movie.releaseDate}}<br/>
        {{movie.runTime}}<br/>
      </td>
    </table>
    <br>
    <table>
      <tr><h4><i>Magazines</i></h4><hr></tr>
      <td *ngFor="let magazine of magazineList">
        {{magazine.title}}<br/>
        {{magazine.publisher}}<br/>
        {{magazine.pubDate}}<br/>
        {{magazine.language}}<br/>
        {{magazine.isbn10}}<br/>
        {{magazine.isbn13}}<br/>
      </td>
    </table>
    <br>
    <table>
      <tr><h4><i>Music</i></h4><hr></tr>
      <td *ngFor="let music of musicList">
        {{music.title}}<br/>
        {{music.label}}<br/>
        {{music.type}}<br/>
        {{music.asin}}<br/>
        {{music.releaseDate}}<br/>
      </td>

    </table>

    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <p class="w3-medium">Created by SOEN343 team#10</p>
      <!-- End footer -->
    </footer>

    <!-- END PAGE CONTENT -->
  </div>
</body>
</html>
