<html>
  <!-- Register Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="Register">
    <h2 class="w3-text-light-grey">Register</h2>
    <hr style="width:200px" class="w3-opacity">

    <p>Enter your admin credentials</p>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

      <p><input class="w3-input w3-padding-16" type="text" placeholder="adminID" required name="adminID" ngModel></p>
      <br>
      <p>Enter credentials for the new user</p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="ID" required name="ID" [(ngModel)]="userModel.id"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="newUser" [(ngModel)]="userModel.email"></p>
      <p><input class="w3-input w3-padding-16" type="password" Placeholder="Password" required name="newPassword" [(ngModel)]="userModel.password"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="First name" required name="firstName" [(ngModel)]="userModel.firstName"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Last name" required name="lastName" [(ngModel)]="userModel.lastName"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Phone number" required name="phoneNumber" [(ngModel)]="userModel.phoneNumber"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Address" required name="address" [(ngModel)]="userModel.address"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> Register
        </button>
      </p>
    </form>
    <!-- End Register Section -->
  </div>
</html>
