<!DOCTYPE html>

<html>
<title>Library Catalog</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<body class="w3-black">

<app-navbar></app-navbar>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" >
    <h2 class="w3-jumbo">What would you like to search <br>in <span style="font-size: 115%;"><i>transaction history</i></span></h2>
    <h3>Please enter the transaction information that you would like to search for.</h3>
    <hr style="width:100%" class="w3-opacity">
  </header>

  <h4>Check the transaction detail to enter the keyword for searching</h4>
  <div>
    <form>
      <table>
        <tr>
          <th>
            <input id="toggleItemType" type="checkbox">
            <label for="toggleItemType">ItemType</label>
            <div id="expandItemType">
              <textarea rows="1" cols="47" #itemType itemType.value=""></textarea>
              <button class="w3-bar-item w3-button" (click)="searchTransactionByItemType(itemType.value)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <input id="toggleUserId" type="checkbox">
            <label for="toggleUserId">UserId</label>
            <div id="expandUserId">
              <textarea rows="1" cols="47" #userId userId.value=""></textarea>
              <button class="w3-bar-item w3-button" (click)="searchTransactionByUserId(userId.value)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </th>
        </tr>

        <tr>
          <th>
            <input id="toggleTransactionDate" type="checkbox">
            <label for="toggleTransactionDate">Transaction Date</label>
            <div id="expandTransactionDate">
              <textarea rows="1" cols="47" #transactionDate transactionDate.value=""></textarea>
                <button class="w3-bar-item w3-button" (click)="searchTransactionByTransactionDate(transactionDate.value)">
                  <i class="fa fa-search"></i>
                </button>
            </div>
          </th>
        </tr>
        <tr>
          <th>
            <input id="toggleDueDate" type="checkbox">
            <label for="toggleDueDate">Due Date</label>
            <div id="expandDueDate">
              <textarea rows="1" cols="47" #dueDate dueDate.value=""></textarea>
              <button class="w3-bar-item w3-button" (click)="searchTransactionByDueDate(dueDate.value)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </th>
        </tr>
      </table>
    </form>
  </div>

  <div>
    <h2><i>Loan Transactions</i></h2><hr>
    <table mat-table #loanTransactionSort="matSort" [dataSource]="matLoanTransactionList" matSort class="mat-elevation-z8"  width="100%">
      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.id}} </td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let element"> {{element.client.Client.id}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.client.Client.email}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.spec[element.loanableItem.LoanableItem.type].title}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.type}} </td>
      </ng-container>

      <ng-container matColumnDef="transactionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{convertDate(element.transactionDate)}} </td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
        <td mat-cell *matCellDef="let element"> {{convertDate(element.dueDate)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayLoanTransactionColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayLoanTransactionColumns;"></tr>
    </table>
  </div>

  <div>
    <h2><i>Return Transactions</i></h2><hr>
    <table mat-table #returnTransactionSort="matSort" [dataSource]="matReturnTransactionList" matSort class="mat-elevation-z8"  width="100%">
      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item ID </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.id}} </td>
      </ng-container>

      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let element"> {{element.client.Client.id}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.client.Client.email}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.spec[element.loanableItem.LoanableItem.type].title}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.loanableItem.LoanableItem.type}} </td>
      </ng-container>

      <ng-container matColumnDef="transactionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
        <td mat-cell *matCellDef="let element"> {{convertDate(element.transactionDate)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayReturnTransactionColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayReturnTransactionColumns;"></tr>
    </table>
  </div>

  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <p class="w3-medium">Created by SOEN343 team#10</p>
    <!-- End footer -->
  </footer>

  <!-- END PAGE CONTENT -->
</div>
</body>
</html>

