<!DOCTYPE html>

<html>
<title>Cart</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<body class="w3-black">

<app-navbar></app-navbar>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Library Catalog</h1>
    <p>Welcome to library catalog.</p>
  </header>

  <!-- About Catalog Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Cart</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Library Catalog Items -->
    <h3 class="w3-padding-16 w3-text-light-grey">Loanable Items</h3>

    <mat-radio-group [(ngModel)]="selectedItem" >
      <mat-radio-button *ngFor="let item of this.loanableItems" [value]="item">
        <p matLine> {{item.spec.title}} </p>
        <p matLine>{{item.type}}</p>
      </mat-radio-button>
    </mat-radio-group>

    <form *ngIf="selectedItem != null">
      <button class="w3-button w3-light-grey w3-padding-large" (click)="removeItemFromCart(selectedItem)">
        Remove Item
      </button>
      <button class="w3-button w3-light-grey w3-padding-large" (click)="cancelRemove()">
        Cancel Remove
      </button>
    </form>

    <form *ngIf="loanableItems?.length > 0 && selectedItem == null">
      <p>To confirm the transaction<span *ngIf="loanableItems.length > 1">s</span>, please seek a library admin to verify.</p>
      <hr style="width:200px" class="w3-opacity">
      <p *ngIf="errorMessage != ''" class="error-message">{{errorMessage}}</p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Username" required name="username" #username  username.value=''></p>
      <p><input class="w3-input w3-padding-16" type="password" placeholder="Password" required name="password" #password  password.value=''></p>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit" (click)="checkout(username.value, password.value)">
        Checkout
      </button>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit" (click)="cancel()">
        Cancel Loan
      </button>
    </form>
    <!--Good-->

  </div>
  <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <p class="w3-medium">Created by SOEN343 team#10</p>
    <!-- End footer -->
  </footer>

  {{ this.loanableItems | json }}

  <!-- END PAGE CONTENT -->
</div>
</body>
</html>
